a {
    display: block;
    border: 2px solid black;
    padding-left: 40%;
    font-size: 80px;
    color: #88c999;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: #282c34;
}